    @font-face {
        font-family: 'Qilka';
        src: url('font/Qilka-Bold copy.otf') format('opentype');
        font-weight: 700;
    }
    body {
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    header {
        background-color: #b81414;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .logo img {
    height: 50px; 
    width: auto;
    display: block;
    }

    .nav-links {
        display: flex;
        gap: 4vw;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
    }

    /* a.active {
        text-decoration: underline;
    } */

    a[href="about.html"] {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
    }

    main.welcome {
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 10vh 15vh;
    }

    section.welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 1000px;
    }

    section.welcome img {
        height: 25vh;
        width: auto;
    }

    section.welcome h1 {
        font-size: 120px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
        color: black;
        margin: 2vh 0;
    }

    section.welcome p {
        font-size: 20px;
        line-height: 1.5;
        margin: 2vh 0;
        font-family: 'Poppins', sans-serif;
    }

    main.vision-mission {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        padding: 10vh 15vh;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        border-bottom: 5px solid white;
    }

    main.vision-mission::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../extra\ images/12.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    main.vision-mission h1 {
        font-family: 'Qilka', sans-serif;
        font-size: 80px;
        color: black;
        margin: 0 0 2vh 0;
    }

    main.vision-mission p {
        font-size: 20px;
    }

    main.youtube {
    width: 100%;
    padding: 0;    
    margin: 0;
    display: flex;
    justify-content: center;
    }

    main.youtube .card {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .video-wrapper {
        width: 100%;
        height: 100vh; 
        position: relative;
        overflow: hidden;
    }

    .video-wrapper iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        border-radius: 0;  
    }

    main.youtube .card p {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2vh;
    }

    main.services {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 15vw;
    text-align: center;
    }

    main.services h1 {
        font-family: 'Qilka', sans-serif;
        font-size: 80px;
        color: black;
        margin-bottom: 6vh;
    }

    main.services section {
        max-width: 900px;
        margin-bottom: 4vh;
    }

    main.services section h3 {
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 1vh;
    }

    main.services section p {
        font-size: 20px;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        background-color: #b81414;
        color: white;
        padding: 0.5vh 2vw;
        max-height: 30vh; 
        overflow-y: auto; 
    }

    footer section {
        display: flex;
        flex-direction: column;
        line-height: 1; 
        margin-bottom: 1vh;
        min-width: 100px;
    }

    footer section h3 {
        font-weight: 400;
        font-size: 12px; 
        margin-bottom: 0.5vh;
        font-family: 'Poppins', sans-serif;
    }

    footer section p {
        margin-bottom: 3px;
        font-size: 12px; 
        font-family: 'Poppins', sans-serif;
    }

    footer section:first-child img {
        width: 30vw;
        max-width: 200px; 
        margin-bottom: 0.5vh;
    }

    footer section:last-child section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        margin-top: 5px;
    }

    footer section:last-child section img {
        margin-top: 10px;
        width: 5vw; 
        max-width: 35px;
    }
    footer section p a {
        color: white;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
    }

   @media screen and (max-width: 768px) {
    header {
        justify-content: center; 
        position: relative;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        z-index: 1000;
    }

    .nav-links {
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 100%;
        background-color: #b81414;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
         padding-top: 2vh;
    }

    .nav-links.show {
        transform: translateY(0);
    }
}
    @media screen and (max-width: 1024px) {
            main.welcome {
            padding: 8vh 10vw;
        }

        section.welcome img {
            height: 20vh;
        }

        section.welcome h1 {
            font-size: 90px;
        }

        section.welcome p {
            font-size: 18px;
        }

        main.vision-mission {
            padding: 10vh 10vw;
            gap: 6vh;
        }

        main.vision-mission h1 {
            font-size: 60px;
        }

        main.vision-mission p {
            font-size: 18px;
        }
        main.services {
            padding: 8vh 10vw;
        }

        main.services h1 {
            font-size: 65px;
        }

        main.services section h3 {
            font-size: 22px;
        }

        main.services section p {
            font-size: 18px;
        }

        footer {
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vw;
            padding: 2vh 4vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            min-width: 120px;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 18px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 14px;
            margin-bottom: 6px;
        }

        footer section:first-child img {
            width: 10vw;
            max-width: 90px;
        }

        footer section:last-child section img {
            width: 3vw;
            max-width: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        main.welcome {
        padding: 6vh 7vw;
        }

        section.welcome img {
            height: 18vh;
        }

        section.welcome h1 {
            font-size: 65px;
        }

        section.welcome p {
            font-size: 16px;
            line-height: 1.4;
        }

        main.vision-mission {
            padding: 8vh 8vw;
            gap: 5vh;
        }

        main.vision-mission h1 {
            font-size: 45px;
        }

        main.vision-mission p {
            font-size: 16px;
            line-height: 1.5;
        }

        .video-wrapper {
        height: 60vh; 
        }

        main.services {
            padding: 7vh 8vw;
        }

        main.services h1 {
            font-size: 50px;
        }

        main.services section h3 {
            font-size: 20px;
        }

        main.services section p {
            font-size: 16px;
            line-height: 1.45;
        }

        footer {
            flex-direction: column; 
            align-items: center;
            padding: 2vh 3vw;
            gap: 2.5vh;
            max-height: 50vh;
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 13px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
             width: 30vw;
            max-width: 150px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 4vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 8vw;
            max-width: 25px;
            height: auto;
        }
    }

    @media screen and (max-width: 480px) {
        main.welcome {
        padding: 5vh 5vw;
        }

        section.welcome img {
            height: 14vh;
        }

        section.welcome h1 {
            font-size: 45px;
        }

        section.welcome p {
            font-size: 12px;
            line-height: 1.35;
            margin: 2vh 0;
        }
        
        main.vision-mission {
        padding: 7vh 6vw;
        gap: 4vh;
        }

        main.vision-mission h1 {
            font-size: 35px;
        }

        main.vision-mission p {
            font-size: 14px;
            line-height: 1.4;
        }

        .video-wrapper {
        height: 60vh; 
        }

        main.services {
        padding: 6vh 6vw;
        }

        main.services h1 {
            font-size: 36px;
        }

        main.services section h3 {
            font-size: 18px;
        }

        main.services section p {
            font-size: 14px;
            line-height: 1.4;
        }
        footer {
            flex-direction: column;
            align-items: center;
            padding: 2vh 3vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
            width: 40vw;
            max-width: 200px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 5vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 10vw;
            max-width: 25px;
            height: auto;
        }
    }