@font-face {
    font-family: 'Qilka';
    src: url('font/Qilka-Bold copy.otf') format('opentype');
    font-weight: 700;
}

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

    header {
        background-color: #b81414;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .logo img {
    height: 50px; 
    width: auto;
    display: block;
    }

    .nav-links {
        display: flex;
        gap: 4vw;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
    }

    /* a.active {
        text-decoration: underline;
    } */

    a[href="menu.html"] {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
    }

    main.welcome {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../pictures/hero/home/4 (1).jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        padding: 10vh 15vh 10vh 15vh;
    }

    section.welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0vh;
    }

    section.welcome img {
        width: auto;
        height: 25vh;
    }

    section.welcome h1 {
        font-size: 120px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 1.1;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 50px 0;
        color: #b81414;
        -webkit-text-stroke: 1px white;
        text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    }

    section.welcome button {
        font-size: 30px;
        color: white;
        background-color: #b81414;
        border: none;
        width: 15vw;
        height: 7vh;
        border-radius: 100px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    section.welcome button:hover {
        transform: scale(1.1);
    }

    main.drinks, main.meals, main.snacks {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #b81414;
        padding: 5vh 0;
        border-bottom: 5px solid white;
    }

    main.drinks .header h1,
    main.meals .header h1,
    main.snacks .header h1 {
        font-family: 'Qilka', sans-serif;
        font-size: 80px;
        margin: 0;
        color: white;
    }

    main.drinks .items,
    main.meals .items,
    main.snacks .items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3vw;
        padding: 5vh 10vw;
    }

    main.drinks .items items,
    main.meals .items items,
    main.snacks .items items {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    }

    main.drinks .items items:hover,
    main.meals .items items:hover,
    main.snacks .items items:hover {
        transform: scale(1.05);
    }

    main.drinks .items items img,
    main.meals .items items img,
    main.snacks .items items img {
        width: 90%;
        height: auto;
        box-shadow: 0 0px 10px 5px rgba(255, 255, 255, 0.8);
    }

    .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    }

    .modal-content {
        display: flex;
        background-color: white;
        border-radius: 20px;
        width: 70vw;
        padding: 3vh 3vw;
        gap: 3vw;
        flex-direction: row;
        align-items: center;
    }

    .modal-content img {
        max-width: 28vw;
        height: auto;
        object-fit: contain;
        box-shadow: 0 0px 10px 5px rgba(0,0,0,0.8);
        border-radius: 10px;
    }

    .modal-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        text-align: center;
    }

    .modal-description p {
        font-size: 30px;
        line-height: 1.6;
        margin: 10px 0;
    }

    #modal-ingredients {
        font-style: italic;
        color: #666;
        margin-top: 20px;
        font-size: 30px;
    }

    main.addons {
    background-color: #b81414;
    color: white;
    text-align: center;
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid white;
    }

    main.addons h1 {
        font-family: 'Qilka', sans-serif;
        font-size: 80px;
        margin: 0 0 3vh 0;
        color: white;
    }

    main.addons section {
        margin-bottom: 3vh;
        width: 100%;
        max-width: 600px; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 1vh 2vw;
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    }

    main.addons h3 {
        font-size: 20px;
        margin: 0.5vh 0;
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    main.addons p {
        font-size: 18px;
        margin: 0.5vh 0;
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        background-color: #b81414;
        color: white;
        padding: 0.5vh 2vw;
        max-height: 30vh; 
        overflow-y: auto; 
    }

    footer section {
        display: flex;
        flex-direction: column;
        line-height: 1; 
        margin-bottom: 1vh;
        min-width: 100px;
    }

    footer section h3 {
        font-weight: 400;
        font-size: 12px; 
        margin-bottom: 0.5vh;
        font-family: 'Poppins', sans-serif;
    }

    footer section p {
        margin-bottom: 3px;
        font-size: 12px; 
        font-family: 'Poppins', sans-serif;
    }

    footer section:first-child img {
        width: 20vw;
        max-width: 200px; 
        margin-bottom: 0.5vh;
    }

    footer section:last-child section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        margin-top: 5px;
    }

    footer section:last-child section img {
        margin-top: 10px;
        width: 5vw; 
        max-width: 35px;
    }
    footer section p a {
        color: white;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
    }

    @media screen and (max-width: 768px) {
        header {
            justify-content: center; 
            position: relative;
        }

        .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .hamburger {
            display: flex;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            z-index: 1000;
        }

        .nav-links {
            position: absolute;
            top: 10vh;
            right: 0;
            height: 90vh;
            width: 100%;
            background-color: #b81414;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
            transform: translateY(-100%);
            transition: transform 0.3s ease-in-out;
            padding-top: 2vh;
        }

        .nav-links.show {
            transform: translateY(0);
        }
    }
    @media screen and (max-width: 1024px) {
        main.welcome {
        padding: 8vh 10vh;
        }

        section.welcome img {
            height: 20vh;
        }

        section.welcome h1 {
            font-size: 80px;
            padding: 30px 0;
        }

        section.welcome button {
            width: 20vw;
            height: 6vh;
            font-size: 24px;
        }

        main.drinks .header h1,
        main.meals .header h1,
        main.snacks .header h1 {
            font-size: 34px;
            text-align: center;
        }
        main.drinks .items,
        main.meals .items,
        main.snacks .items {
            grid-template-columns: repeat(3, 1fr);
        }
        main.drinks .items items img,
        main.meals .items items img,
        main.snacks .items items img {
        width: 80%;
        height: auto;
        box-shadow: 0 0px 10px 5px rgba(255, 255, 255, 0.8);
        }

        .modal-content {
            width: 80vw;
            gap: 2vw;
        }

        .modal-content img {
            max-width: 35vw;
        }

        .modal-description p {
            font-size: 25px;
        }

        #modal-ingredients {
            font-size: 25px;
        }
        main.addons {
        padding: 5vh 8vw; 
        }

        main.addons h1 {
            font-size: 65px; 
        }

        main.addons section {
            display: flex;
            flex-direction: column; 
            align-items: center;    
            justify-content: center;
            margin-bottom: 2vh;
        }

        main.addons h3 {
            font-size: 19px;
            text-align: center; 
        }

        main.addons p {
            font-size: 17px;
            text-align: center; 
            margin-top: 0.5vh;
        }
        footer {
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vw;
            padding: 2vh 4vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            min-width: 120px;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 18px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 14px;
            margin-bottom: 6px;
        }

        footer section:first-child img {
            width: 10vw;
            max-width: 90px;
        }

        footer section:last-child section img {
            width: 3vw;
            max-width: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        main.welcome {
        padding: 5vh 5vw;
        }

        section.welcome img {
            height: 15vh;
        }

        section.welcome h1 {
            font-size: 50px;
            padding: 20px 0;
        }

        section.welcome button {
            width: 20vw;
            height: 5vh;
            font-size: 18px;
        }
        section.picture img {
            width: 100%;
            height: 60vh; 
        }
        main.drinks .header h1,
        main.meals .header h1,
        main.snacks .header h1 {
            font-size: 40px;
            text-align: center;
        }
        main.drinks .items,
        main.meals .items,
        main.snacks .items {
            grid-template-columns: repeat(2, 1fr);
            gap: 4vw;
            padding: 7vh 5vw;
        }

        main.drinks .items items img,
        main.meals .items items img,
        main.snacks .items items img {
            width: 50%;
            height: auto;
            box-shadow: 0 0px 10px 5px rgba(255, 255, 255, 0.8);
        }
        .modal-content {
            flex-direction: column;
            width: 50vw;
            padding: 2vh 2vw;
            gap: 2vh;
        }

        .modal-content img {
            max-width: 60%;
        }

        .modal-description p,
        #modal-ingredients {
            font-size: 14px;
        }
        main.addons {
        padding: 5vh 5vw;
        }

        main.addons h1 {
            font-size: 50px;
        }

        main.addons h3 {
            font-size: 17px;
        }

        main.addons p {
            font-size: 16px;
        }
        footer {
            flex-direction: column; 
            align-items: center;
            padding: 2vh 3vw;
            gap: 2.5vh;
            max-height: 50vh;
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 13px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
            width: 30vw;
            max-width: 150px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 4vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 8vw;
            max-width: 25px;
            height: auto;
        }
    }

    @media screen and (max-width: 480px) {
        main.welcome {
        padding: 5vh 3vw;
        }

        section.welcome img {
            height: 12vh;
        }

        section.welcome h1 {
            font-size: 35px;
            padding: 15px 0;
        }

        section.welcome button {
            width: 35vw;
            height: 5vh;
            font-size: 16px;
        }

        section.picture img {
            width: 100%;
            height: 35vh;
        }
        main.drinks .header h1,
        main.meals .header h1,
        main.snacks .header h1 {
            font-size: 24px;
            text-align: center;
        }

        main.drinks .items,
        main.meals .items,
        main.snacks .items {
            grid-template-columns: repeat(2, 1fr); 
            padding: 3vh 3vw;
            gap: 7vw; 
        }
        main.drinks .items items img,
        main.meals .items items img,
        main.snacks .items items img {
            width: 70%; 
            height: auto;
            box-shadow: 0 0px 5px 3px rgba(255, 255, 255, 0.8);
        }

        .modal-content {
            width: 60vw;
            border-radius: 10px;
        }

        .modal-content img {
            max-width: 60%;
        }

        .modal-description p,
        #modal-ingredients {
            font-size: 12px;
        }
        main.addons {
        padding: 5vh 3vw;
        }

        main.addons h1 {
            font-size: 35px;
        }

        main.addons h3 {
            font-size: 15px;
        }

        main.addons p {
            font-size: 14px;
        }
        footer {
            flex-direction: column;
            align-items: center;
            padding: 2vh 3vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
             width: 40vw;
            max-width: 200px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 5vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 10vw;
            max-width: 25px;
            height: auto;
        }
    }