@font-face {
    font-family: 'Qilka';
    src: url('font/Qilka-Bold copy.otf') format('opentype');
    font-weight: 700;
}
    body {
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }

    header {
        background-color: #b81414;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .logo img {
    height: 50px; 
    width: auto;
    display: block;
    }

    .nav-links {
        display: flex;
        gap: 4vw;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
    }

    /* a.active {
        text-decoration: underline;
    } */

    a[href="news.html"] {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
    }

    main.news {
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 10vh 15vh;
    }

    main.news section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main.news img {
        width: auto;
        height: 25vh;
    }

    main.news h1 {
        font-size: 120px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 20px;
    }

    main.news p {
        font-size: 30px;
        line-height: 1.8;
        font-family: 'Poppins', sans-serif;
    }

    main.merchandise {
        background-color: #b81414;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 15vh;
    }

    main.merchandise h1 {
        font-size: 80px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5vh;
        color: white;
    }

    main.merchandise section.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3vw;
    }

    main.merchandise items {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    main.merchandise items:hover {
        transform: scale(1.05);
    }

    main.merchandise items img {
        width: 20vw;
        height: auto;
        box-shadow: 0 0px 10px 5px rgba(255, 255, 255, 0.8);
    }

    main.events {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 15vh;
    }

    main.events h1 {
        font-size: 80px;
        font-family: 'Qilka', sans-serif;
        color: #b81414;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5vh;
        text-align: center;
    }

    main.events section.cards {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 100%;
    }

    main.events .card {
        background-color: #b81414;
        color: white;
        padding: 3vh 5vw;
        border-radius: 20px;
        text-align: center;
    }

    main.events .card h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    main.events .card p {
        margin: 10px 0 0 0;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }

    main.rewards {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 15vh;
        background-color: #b81414;
        border-bottom: 5px solid white;
    }

    /* main.rewards::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b81414;
        z-index: -1;
        border-bottom: 20px solid white;
    } */

    main.rewards h1 {
        font-size: 80px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5vh;
        color: white;
        text-align: center;
    }

    main.rewards section.cards {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 100%;
    }

    main.rewards .card {
        background-color: white;
        color: black;
        padding: 3vh 5vw;
        border-radius: 20px;
        text-align: center;
    }

    main.rewards .card h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    main.rewards .card p {
        margin: 10px 0 0 0;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }

    .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    }

    .modal-content {
        display: flex;
        background-color: white;
        border-radius: 20px;
        width: 70vw;
        padding: 3vh 3vw;
        gap: 3vw;
        flex-direction: row;
        align-items: center;
    }

    .modal-content img {
        max-width: 28vw;
        height: auto;
        object-fit: contain;
        box-shadow: 0 0px 10px 5px rgba(0,0,0,0.8);
        border-radius: 10px;
    }

    .modal-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        text-align: center;
    }

    .modal-description p {
        font-size: 30px;
        line-height: 1.6;
        margin: 10px 0;
    }

    #modal-ingredients {
        font-style: italic;
        color: #666;
        margin-top: 20px;
        font-size: 30px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        background-color: #b81414;
        color: white;
        padding: 0.5vh 2vw;
        max-height: 30vh; 
        overflow-y: auto; 
    }

    footer section {
        display: flex;
        flex-direction: column;
        line-height: 1; 
        margin-bottom: 1vh;
        min-width: 100px;
    }

    footer section h3 {
        font-weight: 400;
        font-size: 12px; 
        margin-bottom: 0.5vh;
        font-family: 'Poppins', sans-serif;
    }

    footer section p {
        margin-bottom: 3px;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
    }

    footer section:first-child img {
        width: 20vw;
        max-width: 200px; 
        margin-bottom: 0.5vh;
    }

    footer section:last-child section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        margin-top: 5px;
    }

    footer section:last-child section img {
        margin-top: 10px;
        width: 5vw; 
        max-width: 35px;
    }
    footer section p a {
        color: white;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        font-family: 'Poppins', sans-serif;
    }

    @media screen and (max-width: 768px) {
    header {
        justify-content: center; 
        position: relative;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        z-index: 1000;
    }

    .nav-links {
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 100%;
        background-color: #b81414;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
         padding-top: 2vh;
    }

    .nav-links.show {
        transform: translateY(0);
    }
}

    @media screen and (max-width: 1024px) {
        main.news {
        padding: 8vh 8vw;
        }

        main.news img {
            height: 20vh;
        }

        main.news h1 {
            font-size: 80px;
        }

        main.news p {
            font-size: 24px;
            line-height: 1.6;
        }
        main.merchandise {
        padding: 8vh 8vw;
        }

        main.merchandise h1 {
            font-size: 60px;
        }

        main.merchandise section.grid {
            grid-template-columns: repeat(2, 1fr); 
            gap: 4vw;
        }

        main.merchandise items img {
            width: 30vw;
        }

        main.events {
        padding: 8vh 8vw;
        }

        main.events h1 {
            font-size: 60px;
        }

        main.events .card h3 {
            font-size: 18px;
        }

        main.events .card p {
            font-size: 16px;
        }

        main.rewards {
        padding: 8vh 8vw;
        }

        main.rewards h1 {
            font-size: 60px;
        }

        main.rewards .card h3 {
            font-size: 18px;
        }

        main.rewards .card p {
            font-size: 16px;
        }

        .modal-content {
            width: 80vw;
            gap: 2vw;
        }

        .modal-content img {
            max-width: 35vw;
        }

        .modal-description p {
            font-size: 25px;
        }

        #modal-ingredients {
            font-size: 25px;
        }
        footer {
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vw;
            padding: 2vh 4vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            min-width: 120px;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 18px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 14px;
            margin-bottom: 6px;
        }

        footer section:first-child img {
            width: 10vw;
            max-width: 90px;
        }

        footer section:last-child section img {
            width: 3vw;
            max-width: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        main.news {
        padding: 6vh 5vw;
        }

        main.news img {
            height: 18vh;
        }

        main.news h1 {
            font-size: 60px;
        }

        main.news p {
            font-size: 20px;
            line-height: 1.5;
        }

        main.merchandise {
        padding: 8vh 6vw;
        }

        main.merchandise h1 {
            font-size: 50px;
            text-align: center;
        }

        main.merchandise section.grid {
            grid-template-columns: repeat(2, 1fr); 
            gap: 5vw;
        }

        main.merchandise items img {
            width: 30vw;
        }

        main.events {
        padding: 6vh 6vw;
        }

        main.events h1 {
            font-size: 50px;
        }

        main.events .card h3 {
            font-size: 16px;
        }

        main.events .card p {
            font-size: 14px;
        }

        main.rewards {
        padding: 6vh 6vw;
        }

        main.rewards h1 {
            font-size: 50px;
        }

        main.rewards .card h3 {
            font-size: 16px;
        }

        main.rewards .card p {
            font-size: 14px;
        }

        .modal-content {
            flex-direction: column;
            width: 50vw;
            padding: 2vh 2vw;
            gap: 2vh;
        }

        .modal-content img {
            max-width: 60%;
        }

        .modal-description p,
        #modal-ingredients {
            font-size: 14px;
        }
        
        footer {
            flex-direction: column; 
            align-items: center;
            padding: 2vh 3vw;
            gap: 2.5vh;
            max-height: 50vh;
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 13px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
            width: 30vw;
            max-width: 150px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 4vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 8vw;
            max-width: 25px;
            height: auto;
        }
    }

    @media screen and (max-width: 480px) {
        main.news {
        padding: 5vh 4vw;
        }

        main.news img {
            height: 15vh;
        }

        main.news h1 {
            margin-top: 20px;
            font-size: 36px;
        }

        main.news p {
            font-size: 16px;
            line-height: 1.4;
            padding: 0 20px;
        }

        main.merchandise {
        padding: 6vh 5vw;
        }

        main.merchandise h1 {
            font-size: 35px;
            text-align: center;
        }

        main.merchandise section.grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 10vw;
            margin-left: 20px;
        }

        main.merchandise items img {
            width: 80%;
        }

        main.events {
        padding: 5vh 4vw;
        margin: 0 20px;
        }

        main.events h1 {
            font-size: 40px;
        }

        main.events .card h3 {
            font-size: 14px;
        }

        main.events .card p {
            font-size: 13px;
            line-height: 1.4;
        }

        main.rewards {
        padding: 5vh 4vw;
        }

        main.rewards h1 {
            font-size: 40px;
        }
        main.rewards .card {
            margin: 0 20px; 
        }
        main.rewards .card h3 {
            font-size: 14px;
        }

        main.rewards .card p {
            font-size: 13px;
            line-height: 1.4;
        }

        .modal-content {
            width: 60vw;
            border-radius: 10px;
        }

        .modal-content img {
            max-width: 60%;
        }

        .modal-description p,
        #modal-ingredients {
            font-size: 12px;
        }
        footer {
            flex-direction: column;
            align-items: center;
            padding: 2vh 3vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
             width: 40vw;
            max-width: 200px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 5vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 10vw;
            max-width: 25px;
            height: auto;
        }
    }