@font-face {
    font-family: 'Qilka';
    src: url('font/Qilka-Bold copy.otf') format('opentype');
    font-weight: 700;
}

    body {
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
     header {
        background-color: #b81414;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .logo img {
    height: 50px; 
    width: auto;
    display: block;
    }

    .nav-links {
        display: flex;
        gap: 4vw;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Qilka', sans-serif;
        font-weight: 700;
    }

    /* a.active {
        text-decoration: underline;
    } */

    a[href="reservation.html"] {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background: white;
        border-radius: 2px;
    }
    
    main.reservation {
        background: url("../extra\ images/11.jpg") center/cover no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10vh 15vh;
        color: black; 
    }

    main.reservation::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6); 
        z-index: 1;
    }

    main.reservation section {
        position: relative; 
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main.reservation img {
        width: auto;
        height: 25vh;
    }

    main.reservation h1 {
    font-size: 120px;
    font-family: 'Qilka', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: #b81414;
     -webkit-text-stroke: 1px white;
        text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    }


    main.reservation p:first-of-type {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }

    main.reservation p:last-of-type {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    main.reservation button {
        font-size: 20px;
        color: white;
        background-color: #b81414;
        border: none;
        width: 13vw;
        height: 5vh;
        border-radius: 100px;
        margin-top: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    main.reservation button:hover {
        transform: scale(1.1);
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        background-color: #b81414;
        color: white;
        padding: 0.5vh 2vw;
        max-height: 30vh; 
        overflow-y: auto; 
    }

    footer section {
        display: flex;
        flex-direction: column;
        line-height: 1; 
        margin-bottom: 1vh;
        min-width: 100px;
    }

    footer section h3 {
        font-weight: 400;
        font-size: 12px; 
        margin-bottom: 0.5vh;
        font-family: 'Poppins', sans-serif;
    }

    footer section p {
        margin-bottom: 3px;
        font-size: 12px; 
        font-family: 'Poppins', sans-serif;
    }

    footer section:first-child img {
        width: 20vw;
        max-width: 200px; 
        margin-bottom: 0.5vh;
    }

    footer section:last-child section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        margin-top: 5px;
    }

    footer section:last-child section img {
        margin-top: 10px;
        width: 5vw; 
        max-width: 35px;
    }
    footer section p a {
        color: white;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
    }
@media screen and (max-width: 768px) {
        header {
            justify-content: center; 
            position: relative;
        }

        .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .hamburger {
            display: flex;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            z-index: 1000;
        }

        .nav-links {
            position: absolute;
            top: 10vh;
            right: 0;
            height: 90vh;
            width: 100%;
            background-color: #b81414;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
            transform: translateY(-100%);
            transition: transform 0.3s ease-in-out;
            padding-top: 2vh;
            z-index: 999;
        }

        .nav-links.show {
            transform: translateY(0);
        }
    }
    @media screen and (max-width: 1024px) {
        main.reservation {
        padding: 8vh 8vw;
        background-position: center;
        }

        main.reservation img {
            height: 20vh;
        }

        main.reservation h1 {
            font-size: 80px;
        }

        main.reservation p:first-of-type {
            font-size: 18px;
        }

        main.reservation p:last-of-type {
            font-size: 18px;
        }

        main.reservation button {
            width: 30vw;
            height: 6vh;
            font-size: 18px;
        }
        footer {
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vw;
            padding: 2vh 4vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            min-width: 120px;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 18px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 14px;
            margin-bottom: 6px;
        }

        footer section:first-child img {
            width: 10vw;
            max-width: 90px;
        }

        footer section:last-child section img {
            width: 3vw;
            max-width: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        
        main.reservation {
        padding: 5vh 5vw;
        }

        main.reservation h1 {
            font-size: 60px;
        }

        main.reservation img {
            height: 18vh;
        }

        main.reservation button {
            width: 25vw;
            height: 5vh;
            font-size: 18px;
        }
        footer {
            flex-direction: column; 
            align-items: center;
            padding: 2vh 3vw;
            gap: 2.5vh;
            max-height: 50vh;
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 13px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
            width: 30vw;
            max-width: 150px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 4vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 8vw;
            max-width: 25px;
            height: auto;
        }
    }

    @media screen and (max-width: 480px) {
       main.reservation {
        padding: 5vh 5vw;
        background-position: center;
        }

        main.reservation img {
            height: 15vh;
        }

        main.reservation h1 {
            font-size: 36px;
        }

        main.reservation p:first-of-type {
            font-size: 16px;
            line-height: 1.4;
            padding: 0 20px;
        }

        main.reservation p:last-of-type {
            font-size: 16px;
            padding: 8 10px;
            margin: 0 10px;
        }

        main.reservation button {
            width: 40vw;
            height: 5vh;
            font-size: 16px;
        }
        footer {
            flex-direction: column;
            align-items: center;
            padding: 2vh 3vw;
            max-height: 50vh; 
            overflow-y: auto;
        }

        footer section {
            width: 100%;
            text-align: center;
            align-items: center;
            line-height: 1.3;
            margin-bottom: 1vh;
        }

        footer section h3 {
            font-size: 16px;
            margin-bottom: 0.5vh;
        }

        footer section p {
            font-size: 12px;
            margin-bottom: 5px;
        }

        footer section:first-child img {
            width: 40vw;
            max-width: 200px;
            margin-bottom: 1vh;
        }

        footer section:last-child section {
            justify-content: center;
            gap: 5vw;
            margin-top: 5px;
        }

        footer section:last-child section img {
            width: 10vw;
            max-width: 25px;
            height: auto;
        }
    }